[submodule "integration-tests/datafusion"]
	path = integration-tests/datafusion
	url = https://github.com/apache/datafusion.git
[submodule "ext/AutoDI"]
	path = ext/AutoDI
	url = https://github.com/rmitbggroup/AutoDI
[submodule "ext/taqo"]
	path = ext/taqo
	url = https://github.com/qvad/taqo
[submodule "optdbg/optd"]
	path = optdbg/optd
	url = git@github.com:quantumish/optd.git
[submodule "optdbg/datafusion-dolomite"]
	path = optdbg/datafusion-dolomite
	url = git@github.com:quantumish/datafusion-dolomite.git
[submodule "optdbg/optd-original"]
	path = optdbg/optd-original
	url = git@github.com:quantumish/optd-original.git
[submodule "integration-tests/make_parquet/arrow-tools"]
	path = integration-tests/make_parquet/arrow-tools
	url = git@github.com:quantumish/arrow-tools.git
[submodule "integration-tests/tpch-dbgen"]
	path = integration-tests/tpch-dbgen
	url = https://github.com/databricks/tpch-dbgen.git
